body{
    background-color:rgb(255, 255, 255) ;
}

#logo{
    width: 400px;
    display:block;
    margin: 10px auto;
}
nav{
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #565656f1;
    font-size:10px;
}
nav a:hover{
    color: rgb(38, 38, 38);
    font-weight: bolder;
}


.container1 p{
    background-color: rgb(255, 213, 213);
    text-align: center;
    color:rgb(235, 43, 43)
}
#tedxnchu2022{
    text-decoration: none;
    font-weight: bolder;
    color: #760000f1;
}
#heroimg{
    width:100%;
}


.container2 {
    background-color: rgba(135, 135, 135, 0.156);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
#a02{
    margin-left: 30px;
}


.container3 {
    background-color: rgba(135, 135, 135, 0.156);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
#a03{
    margin-left: 30px;
}
.container3 img{
    width: 100%; ;
    border-radius: 20px;
}
.container3 a{
    text-align: center;
    text-decoration: none;
    color: #666666f1;
    font-size:20px;
}

.contain4 {
    background-color: rgba(89, 89, 89, 0.156);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
form {
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color:azure;
    padding-top: 30px;
}
footer p{
    font-size:10px;
    color: beige;
}